@use "./vars" as v;
@use './UI/Button';
@use './UI/Links';
@use './UI/SetAllServices';
@use './UI/Switch';
@use './Banner/Banner';
@use './Layer/Layer';

#cookiesjsr {
  --default-margin: #{v.$default-margin};
  --font-size-reset: #{v.$font-size-reset};

  --btn-font-color: #{v.$color-1};
  --btn-border-color: #{v.$color-1};
  --btn-bg-color: #{v.$color-4};
  --btn-prime-font-color: #{v.$color-4};
  --btn-prime-border-color: #{v.$color-1};
  --btn-prime-bg-color: #{v.$color-1};
  --btn-inv-font-color: #{v.$color-4};
  --btn-inv-border-color: #{v.$color-4};
  --btn-inv-bg-color: #{v.$color-1};
  --btn-prime-inv-font-color: #{v.$color-1};
  --btn-prime-inv-border-color: #{v.$color-4};
  --btn-prime-inv-bg-color: #{v.$color-4};

  --link-list-font-color: #{v.$color-1};
  --link-list-separator-color: #{v.$color-1};

  --banner-logo-offset: 100px;
  --banner-bg-color: #{v.$color-4};
  --banner-font-color: #{v.$color-1};
  --banner-box-shadow: #{v.$box-shadow};

  --layer-header-height: #{v.$layer-header-height};
  --layer-header-bg-color: #{v.$color-1};
  --layer-header-font-color: #{v.$color-5};
  --layer-body-bg-color: #{v.$color-1};
  --layer-tab-bg-color: #{v.$color-1};
  --layer-tab-font-color: #{v.$color-5};
  --layer-tab-active-bg-color: #{v.$color-4};
  --layer-tab-active-font-color: #{v.$color-1};

  --layer-bg-dark: #{v.$color-4};
  --layer-font-light: #{v.$color-1};
  --layer-font-dark: #{v.$color-5};
  --layer-border-color: #{v.$color-2};
  --layer-footer-bg-color: #{v.$color-1};
  --layer-footer-font-color: #{v.$color-5};
  --layer-footer-height: #{v.$layer-footer-height};

  --switch-border-color: #{v.$color-2};
  --switch-handle-color: #{v.$color-1};
  --switch-bg-off: #{v.$color-1};
  --switch-bg-on: #{v.$color-3};
  --switch-width: #{v.$switch-width};
  --switch-height: #{v.$switch-height};
  --switch-always-on-font-color: #{v.$color-3};
  --switch-always-on-bg-color: #{v.$color-1};
}

.cookiesjsr--app {
  font-size: var(--font-size-reset, v.$font-size-reset);
}

body .cookiesjsr--app {
  &,
  *, *:before, *:after {
    box-sizing: border-box;
  }
}

